{% macro render_field_with_errors(field) %}
  <div class="field">
    {{ field.label(class="label") }}
    {{ field(class=(kwargs.pop('class', 'input') ~ (' is-invalid' if field.errors else '')), **kwargs) }}
    {% for error in field.errors %}
      <div class="hint hint-err">{{ error }}</div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro render_field(field) %}
  {{ field(**kwargs) }}
  {% for error in field.errors %}
    <div class="hint hint-err">{{ error }}</div>
  {% endfor %}
{% endmacro %}
