/__pycache__
.DS_Store
.ADMIN_KEY
.STRIPE_KEY
.env
.env.example
# Development files
.env.development
instance/bets_dev.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
