Flask==3.0.3
python-dotenv==1.0.1
Flask-Cors==4.0.0
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-Security==5.6.2
Flask-WTF==1.2.2
Flask-Limiter==3.12
Flask-Talisman==1.1.0
Flask-SQLAlchemy>=3.1.0
SQLAlchemy==2.0.41
stripe==12.2.0
WTForms==3.2.1
requests==2.31.0
colorama==0.4.6
gunicorn
python-dotenv
psycopg2-binary 